html, body, #map { 
    height: 100%; 
    margin: 0; 
    padding: 0; 
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    display: none; /* Hidden by default */
}

#error {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: red;
    display: none; /* Hidden by default */
}
